<div class="page">
  <div class="space">
    <mat-card class="fix-card">

      <mat-toolbar>Adicionar Titulo</mat-toolbar>

      <mat-card-content>
        <form [formGroup]="form" class="form-fix">

          <div class="input-area">
            <div class="fill">
              <h2>Nome</h2>
              <mat-form-field hintLabel="Limite de 100 caracteres" class="fill" style="color: white;">
                <input matInput #input maxlength="100" placeholder="Digite aqui" formControlName="nome" required>
                <mat-hint align="end">{{input.value.length}}/100</mat-hint>
              </mat-form-field>
            </div>
            <div class="fill">
              <h2>Ano de lançamento</h2>
              <mat-form-field class="fill" style="color: white;">
                <input matInput type="number" placeholder="Digite aqui" formControlName="ano" required>
              </mat-form-field>
            </div>
            <div class="fill">
              <h2>Categoria</h2>
              <mat-form-field class="fill" style="color: white;">
                <input matInput #input placeholder="Digite aqui" formControlName="categoria" required>
              </mat-form-field>
            </div>
          </div>

          <br>

          <div class="input-area">
            <div class="fill">
              <h2>Atores</h2>
              <mat-form-field class="fill" style="color: white;">
                <mat-select placeholder="Selecione os atores" formControlName="atores" multiple required>
                  <mat-option *ngFor="let ator of listaDeAtores" [value]="ator">{{ator.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="fill">
              <h2>Diretor</h2>
              <mat-form-field class="fill" style="color: white;">
                <mat-select placeholder="Selecione o diretor" formControlName="diretor">
                  <mat-option *ngFor="let diretor of listaDeDiretores" [value]="diretor">{{diretor.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="fill">
              <h2>Classe</h2>
              <mat-form-field class="fill" style="color: white;">
                <mat-select placeholder="Selecione a classe" formControlName="classe" required>
                  <mat-option *ngFor="let classe of listaDeClasses" [value]="classe">{{classe.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <br>

          <div class="input-area">
            <div class="fill">
              <h2>Sinopse</h2>
              <mat-form-field class="fill" style="color: white;">
                <textarea matInput placeholder="Digite aqui a sinopse do filme..." formControlName="sinopse" required></textarea>
              </mat-form-field>
            </div>
          </div>

        </form>
      </mat-card-content>

      <mat-card-actions class="button-distance example-button-container">
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button class="botao-secundario" (click)="onBack()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

