<div>
  <div class="page">
    <div class="space">
      <mat-card-content class="padding-off fit-height">
        <mat-toolbar class="table-between">
          <div>Classes Cadastradas</div>
          <div class="example-button-container">
            <div class="example-button-container">
              <button mat-raised-button (click)="onAdd()" color="primary">
                Adicionar Classe
              </button>
            </div>
          </div>
        </mat-toolbar>

        <mat-table [dataSource]="classes" style="background-color: #1a1a1a">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element._id }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.nome }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="prazoDias">
            <mat-header-cell *matHeaderCellDef>Prazo Dias</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.prazoDias }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="valor">
            <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.valor }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef style="margin-top: auto">
            </mat-header-cell>

            <mat-cell *matCellDef="let element" class="actions">
              <button
                mat-icon-button
                color="accent"
                aria-label="Editar classe"
                (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                color="warn"
                aria-label="Remover classe"
                (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div class="fecha-tabela"></div>
      </mat-card-content>
    </div>
  </div>
</div>
