

mat-toolbar {
    justify-content: center;
    align-items: center;
}

mat-card {
    margin-left: 5%;
    margin-right: 1.4%;
}

.carregando-spinner {
    padding: 40px;
    background-color: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;

}

.action-column {
  flex: 0 0 75px;
}
