<div class="confirmBox">
  <h1 mat-dialog-title style="padding: 0; margin: 0; height: auto; width: auto;">Excluir</h1>
  <div mat-dialog-content style="padding: 0;">
    Deseja mesmo excluir?
  </div>
  <br>
  <div mat-dialog-actions style="padding: 0; margin: 0; display: flex; justify-content: flex-end; gap: 5px;">
    <button mat-button mat-dialog-close cdkFocusInitial (click)="onConfirm(false)" color="(--cinza-doi)" style="color: white; flex: 1;">Não</button>
    <button mat-raised-button mat-dialog-close (click)="onConfirm(true)" color="primary" style="flex: 1;">Sim</button>
  </div>
</div>
