<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        MENU
      </mat-panel-title>
      <mat-panel-description>
        Locadora Rewind (Bruno Martinelli e Icaro Barbosa)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="button-area">
      <div class="button-group">
        <a routerLink="/ator" class="button">ATOR</a>
        <a routerLink="/classe" class="button">CLASSE</a>
        <a routerLink="/diretor" class="button">DIRETOR</a>
        <a routerLink="/titulo" class="button">TITULO</a>
        <a routerLink="/item" class="button">ITEM</a>
        <a routerLink="/menu" class="button-2">VOLTAR</a>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<router-outlet></router-outlet>
