<mat-expansion-panel #myPanel hideToggle (opened)="togglePanel()" (closed)="togglePanel()" style="z-index: 2;" [expanded]="isPanelExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="arrow-icon" [class.expanded]="isPanelExpanded">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      MENU
    </mat-panel-title>
    <mat-panel-description>
      Locadora Rewind (Bruno Martinelli e Icaro Barbosa)
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="button-area">
    <div class="button-group">
      <mat-menu #categoriasMenu="matMenu">
        <button mat-menu-item routerLink="/ator" (click)="togglePanel(true)">ATOR</button>
        <button mat-menu-item routerLink="/classe" (click)="togglePanel(true)">CLASSE</button>
        <button mat-menu-item routerLink="/diretor" (click)="togglePanel(true)">DIRETOR</button>
        <button mat-menu-item routerLink="/titulo" (click)="togglePanel(true)">TITULO</button>
        <button mat-menu-item routerLink="/item" (click)="togglePanel(true)">ITEM</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="categoriasMenu" class="button" color="white">
        CONTROLE DE ACERVO
      </button>

      <mat-menu #controleMenu="matMenu">
        <button mat-menu-item routerLink="/" (click)="togglePanel(true)">LOCAÇÃO E DEVOLUÇÃO</button>
        <button mat-menu-item routerLink="/cliente" (click)="togglePanel(true)">CLIENTE</button>
        <button mat-menu-item routerLink="/" (click)="togglePanel(true)">FUNCIONÁRIO</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="controleMenu" class="button" color="white">
        CONTROLE DE LOCAÇÃO
      </button>

      <button routerLink="/menu" class="button-2" (click)="togglePanel(true)">VOLTAR</button>
    </div>
  </div>
</mat-expansion-panel>

<router-outlet></router-outlet>
